body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: forestgreen;
}
#login input{
    float:right;
}
#login button{
    float:right;
}
.jumbotron {
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}


.search-form .form-group {
    float: right !important;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}


.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#lsetup table{
    vertical-align: middle;
}

#lsetup .dropdown-menu{
    border: 1px solid snow;
    background-color: snow;
}
.dropdown-menu a{
    color:snow;
}

#upload img{
    max-width: 50%;
}
.container .col-sm-4 p{
    text-align: center;
}
fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
}
legend {
    color:#DF3F3F;
    font-weight:bold
}
